# Copier ce fichier en keystore.properties et remplir les valeurs réelles
# Ne JAMAIS committer keystore.properties sur git
storeFile=authbadge-cm14.jks
storePassword=CHANGE_ME
keyAlias=authbadge
keyPassword=CHANGE_ME
